# Ignore VS + build folders
.vs/
bin/
obj/
*.user
*.suo

# Ignore compiled files
*.dll
*.exe
*.pdb

# Ignore EF Migrations cache (optional)
Migrations/

# Ignore secrets
appsettings.Development.json
appsettings.Local.json

# Others
*.log
*.db
